#tudo {
    background-color: #fcf8ec;
    height: 100vh; 
    width: 42vw;
 margin-top: 0;
 padding: 0;
 margin-left: 29vw;
 z-index: 0;
 position: relative;

}
#imagem{
width: 100%;
background-color: rgb(147, 40, 40);
height: 42vh;
z-index: 1;
}
#img{
height: 42vh;
width: 42vw;

}
#main{
width: 90%;
height: 58vh;
background-color: #A2A649;
z-index: 1;
justify-content: center;
display: flex;
margin: 0 auto;
border-top-left-radius:17% ;
border-top-right-radius: 17%;

}


body{
background-color: black;
}
#rodapé{
    width: 90%;
    height: 9vh;
    background-color: #c78166;
    margin: 0 auto;
    border-top-left-radius:13px ;
    border-top-right-radius:13px ;
    margin-top:-9vh ;
    
    }